<!DOCTYPE html>
<html>
    <head>
        <title>Yeeha</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/login.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
        
        <!--NAV BAR-->
     <nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
        <!--dropdown with home button ad sign in-->
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <a class="navbar-brand" href="/campgrounds">
                            <img src="https://i.imgur.com/sR9IYws.png" alt="Yeeha icon" style="width:28px;height:28px;">
                        </a>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li class="<%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %>"><a href="/campgrounds">Home</a></li>
                 <li role="separator" class="divider"></li>
                 <% if(!currentUser){ %>
                  <li class="<%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>"><a href="/login">Login</a></li>
                  <li class="<%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>"><a href="/register">Sign Up</a></li>
              <% } else { %>
                  <li><a href="/users/<%= currentUser._id %>">Signed In As <%= currentUser.username %></a></li>
                  <li><a href="/users/<%= currentUser._id %>/edit">Edit Profile</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="/logout">Logout</a></li>
              <% } %>
              </ul>
            </div>
        </div>
    </div>
</nav>

 <div class="container">
        
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
        <% if(info && info.length > 0){ %>
            <div class="alert alert-info" role="alert">
                <%= info %>
            </div>
        <% } %>
    </div>

<div class="container-Login-B">
    <div class="container login-container">
                <div class="row">
                    <div class="col-md-5 login-form-2">
                        <h3>Sign Up</h3>
                        
                        <form action="/register" method="POST">
                                <div class="form-group">
                                     <div class="form-group">
                                <input type="text" class="form-control" name="firstName" placeholder="First Name" />
                            </div>
                             <div class="form-group">
                                <input type="text" class="form-control" name="lastName" placeholder="Last Name" />
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" placeholder="Email" />
                            </div>
                                <input type="text" class="form-control" name="username" placeholder="Username" />
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" name="password" placeholder="Password" />
                            </div>
                             <div class="form-group">
                                <input type="text" class="form-control" name="adminCode" placeholder="Admin Code" />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="avatar" placeholder="Upload a picture" />
                            </div>
                            <button class="btn btn-success btn-sm btn-log">Submit</button>
                         </form>
                        
                    </div>
            </div>
    </div>        
</div>
<% include ./partials/footer %>